* {
  margin: 0;
  padding: 0;
}
body {
  color: #444444;
  font-weight: 400;
  background: #ffffff;
  font-family: "Barlow", sans-serif;
}
.btn.btn-custom {
  padding: 10px 30px 12px 30px;
  font-weight: 500;
  text-decoration: none;
  border: none;
  border-radius: 60px;
  transition: ease-out 0.5s;
}

.btn.btn-custom:hover {
  color: #e81c2e;
  background: #202c45;
  box-shadow: inset 200px 0 0 0 #202c45;
}
a:hover,
a:active,
/* <!-- Nav Bar Start --> */
.nav_bar {
  position: relative;
  background: #202c45;
}
.nav_bar .navar {
  padding: 20px 0;
  background: #202c45 !important;
}
.container {
  padding: 0 15px;
  margin: 0 100px;
}
.navbar_menu {
  padding: 35px 0;
  display: flex;
  justify-content: space-between;
}
.navbar_menu-nav .nav_item {
  font-size: 16px;
  padding: 15px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}
.navbar_menu-nav .nav_item.active {
  color: rgb(232, 28, 46);
}
.nav_item:hover {
  color: rgb(232, 28, 46);
  transition: 1s;
}
.nav_bar .btn.btn-custom {
  color: #444444;
  background: #ffffff;
}
.nav_bar .btn.btn-custom:hover {
  color: #ffffff;
  background: rgb(232, 28, 46);
  box-shadow: inset 200px 0 0 0 rgb(232, 28, 46);
}
/* <!-- Carousel Start --> */
.carousel {
  margin: 0;
  padding: 0;
}
.carousel .carousel_item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel .carousel_item-item {
  position: relative;
  height: 100%;
}
.carousel .carousel_item-text {
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 2;
}
.carousel .carousel_item-text h3 {
  color: rgb(232, 28, 46);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
}
.carousel .carousel_item-text h1 {
  font-size: 90px;
  margin: 0 0 20px;
}
.carousel .carousel_item-text p {
  max-width: 500px;
  margin-bottom: 40px;
}
.carousel .btn.btn-custom {
  padding: 20px 45px 22px 45px;
  color: #ffffff;
  font-size: 16px;
}
.carousel .btn.btn-custom:hover {
  color: #e81c2e;
}
/* <!-- About Us Start--> */
.about_us {
  margin-top: 90px;
}
.about_us .about_item {
  display: flex;
  align-items: center;
  margin: 100px 0;
}
.about_us .about_item-img {
  padding: 0 15px;
}
.about_us .about_item-img img {
  border-radius: 5px;
}
.about_us .about_item-text {
  padding: 0 15px;
}
.text-left {
  position: relative;
  width: 100%;
}
.text-left p {
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 5px;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #e81c2e;
}
.text-left p::after {
  position: absolute;
  content: "";
  left: 0;
  width: 50%;
  height: 2px;
  bottom: 0;
  background: #e81c2e;
}
.text-left h2 {
  margin-top: 0;
  font-size: 40px;
  margin-bottom: 20px;
}
.text-right ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 20px;
}
.text-right ul li {
  margin-bottom: 10px;
}
.text-right ul li i {
  margin-right: 5px;
  color: #e81c2e;
}
.text-right .btn.btn-custom {
  color: black;
}
.text-right .btn.btn-custom:hover {
  color: #e81c2e;
}
/* <!-- List Care Start--> */

.list_care {
  position: relative;
  width: 100%;
}
.list_care .list_care_item-text {
  position: relative;
  text-align: center;
  margin: 0 auto 45px auto;
}
.list_care .list_care_item-text p {
  position: relative;
  color: #e81c2e;
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}
.list_care .list_care_item-text p::after {
  position: absolute;
  content: "";
  top: 25px;
  width: 6%;
  height: 2px;
  left: 46%;
  background: #e81c2e;
}
.list_care .list_care_item-text h2 {
  font-size: 45px;
  font-weight: 700;
}
.list_care .list_care_item-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list_care .service-item {
  width: 255px;
  padding: 0 12px;
}
.list_care .service-item h3 {
  margin-bottom: 15px;
}
.list_care .service-item p {
  margin-bottom: 45px;
}
/* <!-- Facts Start --> */
.facts {
  margin-top: 45px;
  padding: 0 115px;
  position: relative;
  background: #202c45;
}
.facts_row {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  min-height: 400px;
  align-items: center;
}
.facts-item {
  display: flex;
}
.facts .facts-item i {
  font-size: 45px;
  color: #e81c2e;
  margin-top: 15px;
}
.facts .facts-item .facts-text {
  margin-left: 15px;
  color: #ffffff;
}
.facts .facts-item .facts-text h3 {
  font-weight: 700;
  position: relative;
  font-size: 60px;
  margin-bottom: 10px;
}
.facts .facts-item .facts-text h3::after {
  position: absolute;
  content: "\f067";
  top: 0px;
  color: #ffffff;
  font-size: 25px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
