* {
  margin: 0;
  padding: 0;
  font-family: "Barlow", sans-serif;
}
/* btn start*/
.btn.btn-custom {
  padding: 10px 30px 12px 30px;
  font-weight: 700;
  text-decoration: none;
  border: none;
  border-radius: 60px;
  transition: ease-out 0.5s;
}

.btn.btn-custom:hover {
  color: #e81c2e;
  background: #202c45;
  box-shadow: inset 200px 0 0 0 #202c45;
}
/* btn end */
body {
  color: #444444;
  font-weight: 400;
  background: #ffffff;
}
.nav_bar {
  width: 100%;
  padding: 20px 0;
  background: #202c45;
}
.container {
  width: 100%;
  padding: 0 6%;
  box-sizing: border-box;
}
.navbar .navbar_menu {
  width: 100%;
  display: flex;
  align-items: center;
}
.navbar .ml_auto .nav_item {
  font-size: 16px;
  margin-right: 40px;
  color: #ffffff;
  text-decoration: none;
  font-weight: 500;
}
.navbar .ml_auto .nav_item.active {
  color: rgb(232, 28, 46);
}
.navbar .ml_auto .nav_item:hover {
  color: rgb(232, 28, 46);
  transition: 1s;
}
.navbar .mr_auto {
  flex: 1;
  text-align: right;
}
.navbar .btn.btn-custom {
  color: #444444;
  background: #ffffff;
}
.navbar .btn.btn-custom:hover {
  color: #ffffff;
  background: rgb(232, 28, 46);
  box-shadow: inset 200px 0 0 0 rgb(232, 28, 46);
}
/* nav_bar end */
/* <!-- Carousel Start --> */
.carousel {
  width: 100%;
  position: relative;
}
.carousel .carousel_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carousel .carousel_item-item {
  width: 100%;
  position: relative;
  height: 100%;
}
.carousel .carousel_item-text {
  position: absolute;
  color: #ffffff;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  z-index: 1;
}
.carousel .carousel_item-text h3 {
  color: rgb(232, 28, 46);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin: 0;
}
.carousel .carousel_item-text h1 {
  font-size: 90px;
  margin: 0 0 20px;
}
.carousel .carousel_item-text p {
  max-width: 500px;
  margin-bottom: 40px;
}
.carousel .btn.btn-custom {
  padding: 20px 45px 22px 45px;
  color: #ffffff;
  font-size: 16px;
}
.carousel .btn.btn-custom:hover {
  color: #e81c2e;
}
/* <!-- About Us Start--> */
.about_us {
  margin-top: 90px;
}
.about_us .about_item {
  display: flex;
  align-items: center;
  margin: 90px 0;
}
.about_us .about_item-img {
  flex-basis: 50%;
  padding: 0 15px;
}
.about_us .about_item-img img {
  width: 100%;
  border-radius: 5px;
}
.about_us .about_item-text {
  flex-basis: 50%;
  padding: 0 15px;
}
.text-left {
  position: relative;
  width: 100%;
}
.text-left p {
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 5px;
  position: relative;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #e81c2e;
}
.text-left p::after {
  position: absolute;
  content: "";
  left: 0;
  width: 50%;
  height: 2px;
  bottom: 0;
  background: #e81c2e;
}
.text-left h2 {
  margin-top: 0;
  font-size: 40px;
  margin-bottom: 20px;
}
.text-right ul {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 20px;
}
.text-right ul li {
  margin-bottom: 10px;
}
.text-right ul li i {
  margin-right: 5px;
  color: #e81c2e;
}
.text-right .btn.btn-custom {
  color: #ffffff;
  background: #e81c2e;
}
.text-right .btn.btn-custom:hover {
  color: #e81c2e;
}
/* <!-- List Care Start--> */

.list_care {
  width: 100%;
}
.list_care_item-text {
  text-align: center;
  margin: 0 auto 45px auto;
}
.list_care_item-text p {
  position: relative;
  color: #e81c2e;
  font-size: 16px;
  letter-spacing: 4px;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 20px;
}
.list_care_item-text p::after {
  position: absolute;
  content: "";
  top: 25px;
  width: 6%;
  height: 2px;
  left: 46%;
  background: #e81c2e;
}
.list_care_item-text h2 {
  font-size: 45px;
  font-weight: 700;
}
.list_care .list_care_item-icon {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list_care .service-item {
  flex-basis: 22%;
}
.list_care .service-item h3 {
  margin-bottom: 15px;
}
.list_care .service-item p {
  margin-bottom: 45px;
}
/* <!-- Facts Start --> */
.facts {
  width: 100%;
  box-sizing: border-box;
  min-height: 400px;
  margin: 45px 0 90px 0;
  background: #202c45;
  display: flex;
  align-items: center;
}
.facts_row {
  width: 100%;
  display: flex;
}
.facts-item {
  display: flex;
  flex-basis: 25%;
  margin: 25px 0;
}
.facts .facts-item i {
  font-size: 45px;
  color: #e81c2e;
  margin-top: 15px;
  margin-right: 15px;
}
.facts .facts-item .facts-text {
  color: #ffffff;
}
.facts .facts-item .facts-text h3 {
  font-weight: 700;
  position: relative;
  font-size: 60px;
  margin-bottom: 10px;
}
.facts .facts-item .facts-text h3::after {
  position: absolute;
  content: "\f067";
  top: 0px;
  color: #ffffff;
  font-size: 25px;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
}
/* <!-- Price Start --> */
.price {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 90px;
}
.price_item {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.price_item .price_plan {
  display: flex;
  flex-direction: column;
  flex-basis: 33.33%;
  text-align: center;
  color: #202c45;
}
.price-header {
  padding: 45px 0 30px 0;
}
.price-header h3 {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.price-header h2 {
  display: flex;
  font-size: 25px;
  font-weight: 700;
  letter-spacing: 5px;
  margin-bottom: 10px;
  justify-content: center;
}
.price-header h2 strong {
  font-size: 60px;
  line-height: 50px;
  font-weight: bolder;
}
.price_plan-item.featured-item {
  box-shadow: 0 0 30px rgb(0 0 0 / 20%);
}
.price_plan-item.featured-item .price-header {
  color: #e81c2e;
}
.price-body {
  margin-bottom: 40px;
  box-sizing: border-box;
}
.price-body ul {
  list-style: none;
}
.price-body ul li {
  padding-bottom: 15px;
}
.price-body ul li i {
  color: #39b972;
  padding-right: 5px;
}
.price-body .fa-times-circle {
  color: #cccccc;
}
.price-footer {
  padding-bottom: 45px;
}
.price-footer .btn.btn-custom {
  background: #202c45;
  color: #e81c2e;
}
.price-footer .btn.btn-custom:hover {
  background: rgb(232, 28, 46);
  box-shadow: inset 200px 0 0 0 rgb(232, 28, 46);
  color: #ffffff;
}
.price_plan-item.featured-item .price-footer .btn.btn-custom {
  color: #ffffff;
  background: #e81c2e;
}
.price_plan-item.featured-item .price-footer .btn.btn-custom:hover {
  color: #e81c2e;
  box-shadow: inset 200px 0 0 0 #202c45;
}
/* responsive */
@media only screen and (max-width: 990px) {
  .nav_bar .navbar .navbar_menu {
    display: none;
  }
  .carousel .carousel_item-text h3 {
    font-size: 16px;
  }
  .carousel .carousel_item-text h1 {
    font-size: 70px;
  }
  .carousel .carousel_item-text p {
    font-size: 14px;
  }
  .about_us .about_item {
    flex-wrap: wrap;
  }
  .about_us .about_item-img {
    flex-basis: 100%;
  }
  .about_us .about_item-text {
    flex-basis: 100%;
  }
  .list_care .service-item {
    flex-basis: 45%;
  }
  .facts_row {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .facts-item {
    flex-basis: 40%;
  }
  .price-header h3 {
    font-size: 12px;
  }
  .price-header h2 {
    font-size: 16px;
  }
  .price-header h2 strong {
    line-height: 35px;
    font-size: 40px;
  }
  .price-body {
    font-size: 10px;
  }
}
@media only screen and (max-width: 650px) {
  .container {
    padding: 0 15%;
  }
  .carousel .carousel_item-text h3 {
    font-size: 14px;
  }
  .carousel .carousel_item-text h1 {
    font-size: 55px;
  }
  .carousel .carousel_item-text p {
    font-size: 12px;
  }
  .about_us .about_item {
    flex-wrap: wrap;
  }
  .about_us .about_item-img {
    flex-basis: 100%;
  }
  .about_us .about_item-text {
    flex-basis: 100%;
  }
  .list_care .service-item {
    flex-basis: 100%;
  }
  .facts_row {
    flex-wrap: wrap;
    justify-content: center;
  }
  .facts-item {
    flex-basis: 100%;
  }
  .price_item {
    flex-direction: column;
  }
}
